#ying-view-register {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../images/bg-lg.jpg) no-repeat;
    background-size: cover;
    .login-wrap-ying {
        padding-top: 60px;
        width: 320px;
        margin: 0 auto;
        .head-ying-view {
            text-align: center;
            font-size: 18px;
            padding-top: 26px;
        }
        .info-mation {
            .info-form {
                padding: 8px;
            }
        }
    }
}