.person-setup-wrap {
    padding-top: 8px;
    .person-setup-content {
        padding: 12px 0;
        background: #fff;
        .person-setup-content-wrap, .person-setup-content-other {
            display: flex;
            .person-setup-left {
                width: 50%;
            }
            .person-setup-right {
                width: 50%;
            }
            .person-setup-item {
                display: flex;
                padding: 15px 0;
                span {
                    width: 80px;
                    text-align: right;
                    padding-right: 8px;
                    line-height: 36px;
                    font-size: 14px;
                    color: #999;
                }
            }
        }
        .person-setup-button {
            padding: 14px 0 14px 88px;
        }
    }
}