#ying-view-person {
    background: #eee;
    .user-top {
        padding-top: 12px;
        width: 1200px;
        margin: 0 auto;
        display: flex;
        .user-info {
            width: 27%;
            background: #fff;
            box-sizing: border-box;
            padding: 24px 30px;
            .user-info-top {
                display: flex;
                .photo-name {
                    .photo {
                        width: 100px;
                        height: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            overflow: hidden;
                            border: none;
                        }
                        background: red;
                    }
                    .user-name {
                        font-size: 16px;
                        line-height: 40px;
                    }
                }
                .infomation {
                    padding-left: 24px;
                    p {
                        line-height: 30px;
                        span {
                            font-size: 14px;
                        }
                        span:nth-of-type(2) {
                            padding-left: 5px;
                            color: #ff701b;
                            font-size: 15px;
                        }
                    }
                }
            }
            .address {
                padding-top: 12px;
            }
            .operate {
                text-align: center;
                padding: 20px 0;
                button {
                    background: #24d0fb;
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    color: #fff;
                    padding: 5px 20px;
                    margin-right: 20px;
                }
                button:nth-of-type(2) {
                    background: #fff;
                    border: 1px solid #ccc;
                    color: #999;
                }
            }
        }
        .user-banner {
            margin-left: 1%;
            width: 72%;
            background: #fff;
            box-sizing: border-box;
            overflow: hidden;
            height: 310px;
            img {
                width: 100%;
                height: 100%;
                display: block;
                border: none;
            }
        }
    }
    .user-content {
        padding-top: 12px;
        .content {
            background: #fff;
        }
    }
}