#ying-view-header {
    width: 100%;
    clear: both;
    background: #1886e3;
    .logo-title {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 30px 0;
        height: 50px;
        .logo-name {
            width: 450px;
        }
        .search-part {
            padding: 4px 0;
            display: flex;
            .select {
                height: 42px;
                width: 96px;
                background: #e5f5ff;
                line-height: 42px;
                font-size: 14px;
                color: #666;
                text-indent: 22px;
                display: flex;
                .icon {
                    width: 16px;
                    height: 16px;
                    background: url(../../images/icon_16.png) no-repeat 0 0px;
                    margin: auto;
                }
            }
            .search-input {
                height: 42px;
                border: none;
                outline: none;
                background: #fff;
                width: 342px;
                text-indent: 5px;
                font-size: 16px;
                color: #333;
            }
            .search-botton {
                height: 42px;
                border: none;
                width: 42px;
                outline: none;
                background: #0062bd;
                cursor: pointer;
                span {
                    display: block;
                    width: 16px;
                    height: 16px;
                    margin: auto;
                    background: url(../../images/icon_16.png) no-repeat 0 -32px;
                }
            }
        }
        .login-or-sign {
            line-height: 50px;
            text-align: right;
            width: 260px;
            .user-info {
                position: relative;
                height: 50px;
                .photo {
                    position: absolute;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    .user_photo {
                        width: 50px;
                        height: 50px;
                        display: block;
                        border: none;
                    }
                    .nav {
                        display: none;
                        position: absolute;
                        top: 50px;
                        left: -9px;
                        z-index: 100;
                        box-shadow: 1px 1px 5px #d1d1d1;
                        -webkit-box-shadow: 1px 1px 5px #d1d1d1;
                        -moz-box-shadow: 1px 1px 5px #d1d1d1;
                        -o-box-shadow: 1px 1px 5px #d1d1d1;
                        background: #fff;
                        width: 68px;
                        li {
                            list-style: none;
                            height: 26px;
                            width: 50px;
                            line-height: 26px;
                            text-align: left;
                            padding: 0 9px;
                        }
                        li:hover {
                            background: #3385ff;
                            color: #fff;
                        }
                    }
                }
                .photo:hover {
                    .nav {
                        display: block;
                    }
                }
            }
            button {
                background: none;
                color: #fff;
                border: none;
                outline: none;
            }
            button:hover {
                text-decoration: underline;
            }
        }
    }
    .ying-nav {
        background: #036fd3;
        .nav-wrap {
            width: 1200px;
            height: 44px;
            display: flex;
            margin: 0 auto;
            .nav {
                display: flex;
                width: 1030px;
                li {
                    line-height: 44px;
                    padding: 0 30px;
                    a {
                        color: #FFF;
                        font-size: 14px;
                    }
                }
                li:hover {
                    background: #0062bd;
                    a {
                        color: yellow;
                    }
                }
            }
            .publish{
                width: 170px;
                background: #0062bd;
                height: 20px;
                padding: 12px 0;
                cursor: pointer;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                .publish-text {
                    font-size: 14px;
                    color: #fff;
                    background: url(../../images/icon_26.png) no-repeat 0 -600px;
                    height: 20px;
                    text-indent: 28px;
                    width: 100px;
                    margin: 0 auto;
                }
            }
        }
    }
}