.admin-user-wrap {
.user-content-wrap {
    position: relative;
    .user-nav {
      display: flex;
      height: 30px;
      background: #31373b;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      overflow: hidden;
      p {
        width: 20%;
        font-weight: 300;
        padding: 0px;
        margin: 0px;
        line-height: 30px;
      }
      .focus {
        background: #f1c40f;
        color: #31373b;
      }
      p:hover {
        background: #f1c40f;
        color: #31373b;
        cursor: pointer;
      }
    }
    .query-user {
      padding-bottom: 10px;
      display: flex;
      .search-botton {
        height: 38px;
        border: none;
        width: 38px;
        outline: none;
        background: #24d0fb;
        padding-top: 11px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 3px;
        margin-left: 6px;
        span {
            display: block;
            width: 16px;
            height: 16px;
            margin: auto;
            background: url(../../images/icon_16.png) no-repeat 0 -32px;
        }
    }
    }
    .add-user {
      height: 34px;
      margin: 15px 0 0 8px;
      .message {
        float: left;
        font-size: 12px;
        font-weight: 400;
        span:nth-of-type(2) {
          color: #68abf1;
        }
      }
      .add-user-btn {
        float: right;
        border: none;
        background: #f1c40f;
        font-size: 12px;
        border-radius: 3px;
        padding: 3px 15px;
        outline: none;
        cursor: pointer;
      }
    }
    .user-list {
      min-height: 500px;
      max-height: 550px;
      overflow: auto;
      width: 100%;
      border-collapse: collapse;
      .user-list-head {
        background: #f2f2f2;
        height: 36px;
        display: flex;
        li {
          line-height: 36px;
          width: 16.66%;
          text-indent: 15px;
        }
      }
      .user-list-item {
        height: 46px;
        display: flex;
        margin: 2px 0;
        li {
          line-height: 46px;
          width: 16.66%;
          text-indent: 15px;
        }
        .operate-wrap {
          span {
            padding: 0 3px;
            cursor: pointer;
            color: #68abf1;
          }
        }
      }
      .user-list-item:nth-of-type(even) {
        background: #fff;
      }
      .user-list-item:nth-of-type(odd) {
        background: #f2f2f2;
      }
      .page-wrap {
        padding: 15px 0;
        text-align: center;
      }
    }
  }
}